.menu{
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    background: black;
    color: aliceblue;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
}

li{
    cursor:pointer;
}